$primary:#00d9ff;
$secundo:#fff;
$terceiro:#000000;

.container-fluid {
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
}
.navbar-brand{
    
    img {
        width: 200px !important;
       
    }
}

.navbar {
    background: $primary !important;
    & .nav-link {
        color: #000000 !important;
        font-size: 29px;
       
       
    }
    & .navbar-toggler {
        background: #5088bd !important;
    }
    & .nav-item {
        margin: 10px;

       
        
  
    }
}

.footer {
    padding: 20px;
    background: $primary;
    color: #FFFF;
    width: 100%;
}
.card {
    margin-bottom: 10px;
    box-shadow: 0 0 10px #000000;
}
.btn btn-dark {
    width: 100px;
}
